<h4 class="text-center">Products Component</h4>
<br />

<div class="row">
  <div class="col-6">
    <div class="form-group">
      <input type="text"
        name="search"
        class="form-control"
        [(ngModel)]="query"
        placeholder="Search product here...">
    </div>
  </div>
  <div class="col-6">
    <div class="btn-group float-right">
      <button class="btn btn-dark btn-sm" (click)="onFirst()">First</button>
      <button class="btn btn-dark btn-sm" (click)="onPrev()">Prev</button>
      <button class="btn btn-dark btn-sm" (click)="onNext()">Next</button>
      <button class="btn btn-dark btn-sm" (click)="onLast()">Last</button>
    </div>
  </div>
</div>

<br>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>#</th>
      <th>Product Name</th>
      <th>Quantity</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products | search : query">
        <td (click)="onProductSelected(product)"  class="my-highlight">{{ product.id }}</td>
        <td>{{ product.name }}</td>
        <td>{{ product.qunatity }}</td>
        <td>{{ product.cost }}</td>
      <td><a [routerLink]="['specification']"
          [queryParams]="{'productName' : product.name, 'quantity': product.qunatity}">Specification</a></td>
    </tr>
  </tbody>
</table>




<router-outlet></router-outlet>

<!-- <div class="row">
  <div class="col-4">
    <ul class="list-group">
      <li class="list-group-item">
        <a [routerLink]="['overview']">Overview</a>
      </li>
      <li class="list-group-item">
        <a [routerLink]="['specification']">Specification</a>
      </li>
    </ul>
  </div>
  <div class="col-8">
    <router-outlet></router-outlet>
  </div>
</div> -->
