
<h2 appHighlight [favColor]="'tomato'" [myProp]="{'border' : '2px red solid', 'fontSize' : '1.2em'}">This is heading two</h2>


<!-- <h3 [ngClass]="['my-feature', 'my-border']">This is some cool heading</h3> -->
<h3 [ngClass]="dynamicClasses" class="heading">This is some cool heading</h3>

<button (click)="onToggle()" class="btn btn-primary">Toggle CSS Classes</button>



<p [ngStyle]="dynamicStyles">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ratione, consectetur distinctio minima explicabo officia ipsam eius aperiam,
    architecto, amet similique molestias enim magni. Voluptas, recusandae alias impedit id eum culpa.</p>


<p appHighlight [favColor]="'lightgrey'" [myProp]="{'border' : '2px green solid'}">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias id consequuntur dignissimos hic odit rem doloribus qui.
  Exercitationem animi, laborum et expedita incidunt, doloremque laudantium reprehenderit illum odit quo iste?</p>
